APP_URL=http://localhost:3000
# App running port
PORT=3000

DB_USER='postgres'
DB_PASSWORD='postgres'
DB_NAME='booklydb'
DB_HOST='localhost'
DB_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379

MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_USER=your-email@example.com
MAIL_PASSWORD=your-email-password
MAIL_FROM=noreply@example.com
